<body style="padding:40px;background-image:url('/images/christmas.jpg'); background-repeat: no-repeat;background-size: 100% 115%;">
    <div class="container">

        <div class="row">
            <div class="col-lg-6" style="padding:60px;padding-bottom:0px;">
                <center>
                    <div class="card card-body" style="background:#f76262">
                        <h1 class="text-center mb-3" style="color:#216583;font-family: 'Oswald', sans-serif;">Welcome !<br>Students Login Here</h1>
                        <img src="/images/student.jpg" style="border-radius:50%;width:200px;height:200px">
                        <form action="/dashboard" method="POST">
                            <div class="form-group">
                                <label for="sid">Student ID</label>
                                <input type="text" id="sid" name="sid" class="form-control" placeholder="Enter College ID" style="background:#ffffff88" />
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" style="background:#ffffff88" />
                            </div>
                            <button type="submit" class="btn btn-primary btn-block" style="background-color: #216583;">Login</button>
                        </form>
                    </div>
                </center>

            </div>
            <div class="col-lg-6" style="padding:60px; padding-bottom: 0px;;">
                <center>
                    <div class="card card-body " style="background:#f76262 ">
                        <h1 class="text-center mb-3 " style="color:#216583;font-family: 'Oswald', sans-serif; ">Welcome !<br>Professor Login Here</h1>
                        <img src="/images/teacher.jpg " style="border-radius:50%;width:200px;height:200px ">
                        <form action="/teacher/dashboard" method="POST">
                            <div class="form-group ">
                                <label for="id ">Professor ID</label>
                                <input type="text " id="id" name="id" class="form-control " placeholder="Enter ID " style="background:#ffffff88 " />
                            </div>
                            <div class="form-group ">
                                <label for="password">Password</label>
                                <input type="password" id="password" name="password" class="form-control " placeholder="Enter Password " style="background:#ffffff88 " />
                            </div>
                            <button type="submit " class="btn btn-block " style="background-color:#216583 ; ">Login</button>
                        </form>
                    </div>
                </center>
            </div>
        </div>
    </div>

</body>