<body style="background-color: palegreen;padding:40px;">
    <img src="/images/iiitk.png" alt="IIITK LOGO" style="height: 60px;width:120px">
    <center>

        <h1 style="font-size: 50px;font-family: 'Oswald', sans-serif;color: #52de97;margin-bottom:4%;">Welcome to the ERP of IIIT KOTA</h1>
    </center>
    <div class="row" style="margin-bottom: 4%;">
        <div class="col-lg-6">
            <center>
                <a href="/student/login" style="text-decoration:none;">
                    <img src="/images/Student.jpg" style="width:300px;height:300px;border-radius: 50%; border:5px solid #52de97;margin-bottom: 20px;;">
                    <h1 style="font-size: 30px;font-family: 'Lobster', cursive;color: #52de97;">Student</h1>
                </a>
            </center>

        </div>
        <div class="col-lg-6">
            <center>
                <a href="/teacher/login" style="text-decoration:none;">
                    <img src="/images/professor.jpg" style="width:300px;height:300px;border-radius: 50%; border:5px solid #52de97;margin-bottom: 20px;;">
                    <h1 style="font-size: 30px;font-family: 'Lobster', cursive;color: #52de97;">Professor</h1>
                </a>
            </center>
        </div>
    </div>
    <center>
        <h1 style="font-size: 30px;font-family: 'Oswald', sans-serif;color: #52de97;"> Choose Who are you?</h1>
    </center>
</body>